/* All */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

/* General values */
:root{
    --background-card: rgba(255, 255, 255, 0.445);
    --background-card_inside: #fff;
    --bold-text-color: #fff;
    --form-spacings: 10px;
    --form-inputs-background-color: rgba(168, 168, 168, 0.356);
    --form-inputs_checkout_background_colors: rgba(151, 136, 185, 0.507);;
    --form-inputs-border-radius: 20px;
    --submit-color: #aa87c883;
    --ticket-card-background-color: rgba(173, 154, 218, 0.329);
    --checkout-container-background-color: rgba(168, 142, 228, 0.479);
    --checkout-title-background-color: rgba(168, 142, 228, 0.63);
    --price-background-color: rgba(150, 129, 201, 0.5);
    --buy-background-color: rgba(114, 85, 182, 0.548);
    --warn-background-color: rgba(255, 0, 0, 0.342);
    
}

/* rapid classes */
/* .display_none{
    display: none;
} */


body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/train-mountains-illustration-minimalistic-9l.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .generatore_biglietto{
        max-width: 500px;
        border-radius: 20px;
        background-color: var(--background-card);
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

        .titolo{
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 35px;
            color: var(--bold-text-color);
        }

            .inside_card{
                max-width: 500px;
                background-color: var(--background-card_inside);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                padding: 35px 0 0 0;
            }

                .input_container{
                    display: flex;
                    justify-content: center;
                    width: 500px;
                }

                    .richiesta_nome{
                        width: 300px;
                        margin-bottom: var(--form-spacings);
                    }
                    
                    #nome{
                        width: 100%;
                        height: 30px;
                        font-size: 20px;
                        text-align: center;
                        background-color: var(--form-inputs-background-color);
                        border: none;
                        border-radius: var(--form-inputs-border-radius);
                    }

                    .same_line{
                        width: 300px;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: var(--form-spacings);

                    }
                        
                        .richiesta_km{
                            width: 40%;
                        }

                            #km{
                                width: 100%;
                                text-align: center;
                                background-color: var(--form-inputs-background-color);
                                border: none;
                                border-radius: var(--form-inputs-border-radius);
                            }

                        .richiesta_eta{
                            width: 50%;
                        }

                            #eta{
                                width: 100%;
                                text-align: center;
                                background-color: var(--form-inputs-background-color);
                                border: none;
                                border-radius: var(--form-inputs-border-radius);
                            }

                        #submit_button{
                            width: 300px;
                            height: 30px;
                            margin-bottom: 35px;
                            font-size: 20px;
                            font-weight: 700;
                            color: var(--bold-text-color);
                            text-align: center;
                            border: none;
                            background-color: var(--submit-color);
                            border-radius: var(--form-inputs-border-radius);
                            background-color: var(--submit-color);
                        }

            .ticket_card{
                width: 500px;
                height: 350px;
                background-color: var(--background-card_inside);
                border-radius: 20px;
                display: flex;
                padding: 25px 0;
                background-color: var(--ticket-card-background-color);
            }

            .display_none{
                display: none;
            }

                .ticket_data{
                    width: 250px;
                    padding: 20px;
                }

                    .same_line.for_ticket{
                        width: 210px;
                    }

                    .data_container_text{
                        width: 130px;
                        height: 25px;
                        text-align: center;
                        background-color: var(--form-inputs-background-color);
                        border: none;
                        border-radius: var(--form-inputs-border-radius);
                    }

                        .background_checkout{
                            background-color: var(--form-inputs_checkout_background_colors);
                        }

                    .data_container_text.small{
                        width: 60px;
                    }

                    .name_container{
                        color: var(--bold-text-color);
                        font-weight: 600;
                    }

                    #discount_container{
                        color: var(--bold-text-color);
                        font-weight: 600;
                        background: linear-gradient(169deg, #af81f0, #5f319f, #bc9de8);
                        background-size: 600% 600%;

                        animation: discount_background 5s ease infinite;
                    }

                    @keyframes discount_background {
                        0%
                        {background-position:35% 0%}

                        50%
                        {background-position:66% 100%}

                        100%
                        {background-position:35% 0%}
                    }

                    .km_container{
                        width: 210px;
                        height: 40px;
                        font-size: 25px;
                        font-weight: 800;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--bold-text-color);
                    }

                    .checkout_container{
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;
                        padding: 10px 5px;
                        width: 210px;
                        height: 190px;
                        background-color: var(--checkout-container-background-color);
                        border-radius: var(--form-inputs-border-radius);
                    }

                        .checkout_title{
                            width: 200px;
                            height: 30px;
                            background-color: var(--checkout-title-background-color);
                            font-size: 20px;
                            font-weight: 700;
                            color: var(--bold-text-color);
                            margin-bottom: 10px;
                        }

                        .prezzo_container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            height: 90px;
                            background-color: var(--price-background-color);
                            margin-bottom: 10px;
                            font-size: 30px;
                            font-weight: 800;
                            color: var(--bold-text-color);
                        }

                            #prezzo_finale{
                                transform: scale(1, 2);
                                font-stretch: condensed;
                            }

                        .buy{
                            width: 200px;
                            height: 30px;
                            background-color: var(--buy-background-color);
                            font-size: 18px;
                            font-weight: 500;
                            color: var(--bold-text-color);
                        }



                .ticket_qr{
                    width: 250px;
                    height: 310px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    #qr_code{
                        width: 150px;
                        height: 150px;
                        padding-bottom: 10px;
                    }
                   
                    .warn_container{
                        width: 150px;
                        height: auto;
                        padding: 5px;
                        line-height: 12px;
                        background-color: var(--warn-background-color);
                    }

                        .warn{
                        
                            font-size: 15px;
                            font-weight: 500;
                            color: var(--bold-text-color);
                            text-align: center;

                        }